<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Pro-Investor</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../stylesheet/home.css" />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class = "main_container">
		<h3 class="loginHeader">Logged In As: <span class="login"><%= response %></span></h3>
      <form id = "search_stock">
          <textarea id="myTextArea"></textarea>
          <input type="submit">
      </form>
      <button id = "deletion" type="button">delete!</button>
      <table id = "table" class = "table">   
          <tr>
              <th>Investments</th>
          </tr>
          <tr>
              <th>Name</th>
              <th>Open</th>
              <th>High</th>
              <th>Low</th>
              <th>Current Close</th>
              <th>Volume</th>
			  <th>Date</th>
			  <th>Previous Close</th>
			  <th>% Change</th>
          </tr>
		  <script type="text/javascript" src="./public/js/db_functions.js"></script>
          <script>
            var socket = io.connect('http://localhost:3000');

            //initialize list of investments on start up
            socket.on('initialize', (list) => {
              for (var i = 0; i < list.length; i++){
                var row = table.insertRow(-1)

                counter = 0
                parameters = ['01. symbol', '02. open', '03. high', '04. low', '05. price', '06. volume', '07. latest trading day', '08. previous close', '10. change percent']

                for (p of parameters){
                  var cell = row.insertCell(counter)
				  cell.className = "stockData"+i;
                  cell.innerHTML = list[i]['Global Quote'][p]
                  counter++
                }

                button = document.createElement('button');
                button.innerHTML = "delete"
                button.className = "delete_row"+i;
                button.style.display = "none"
                row.appendChild(button)
              }
            })
			var query;
            //listen for clicks to row buttons for deletion
            document.addEventListener('click', function (event) {
	            if (event.target.className.includes("delete_row")){
					var name = event.target.className;
					var row = name.charAt(name.length-1);
					var target = document.getElementsByClassName("stockData"+row);
					var temp = document.getElementsByClassName("login");
					var userName = temp[0].innerHTML;
					var investmentName = target[0].innerHTML;
					query = 'delete from userInvestment where userEmail = "'+userName+'" and InvestmentName = "'+investmentName+'"';
					alert(investmentName+userName);
					var tb = event.target.parentNode.parentNode
					tb.removeChild(event.target.parentNode);
					var temp = io('http://localhost:3000/');
					  temp.on('connect', function () {
						temp.send(query);
					 });
              }
            }, false);

            //toggle delete button in table
            deletion.addEventListener("click", function() {
              var buttons = document.getElementById("table").querySelectorAll("button")
              if(deletion.innerHTML == "delete!"){
                for (button of buttons)
                  button.style.display = "block"
                deletion.innerHTML = "cancel"
              }

              else{
                for (button of buttons)
                  button.style.display = "none"
                deletion.innerHTML = "delete!"
              }
            })
          </script>
      </table>
    </div>
  </body>
</html>