<!DOCTYPE html>
<html class = "no-js">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Pro Investor</title>
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
       href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous"/>
    
    <!-- Bootstrap core CSS -->
    <link href="../stylesheet/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="../stylesheet/css/mdb.min.css" rel="stylesheet" />
    <!-- Your custom styles (optional) -->
    <link href="../stylesheet/css/style.min.css" rel="stylesheet" />
    <style type="text/css">
      html,
      body,
      header,
      .view {
        height: 100%;
      }

      @media (max-width: 740px) {
        html,
        body,
        header,
        .view {
          height: 1000px;
        }
      }

      @media (min-width: 800px) and (max-width: 850px) {
        html,
        body,
        header,
        .view {
          height: 650px;
        }
      }
      @media (min-width: 800px) and (max-width: 850px) {
        .navbar:not(.top-nav-collapse) {
          background: #1c2331 !important;
        }
      }
    </style>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
      <div class="container">
        <!-- Brand -->
        <a
          class="navbar-brand"
          href="#"
          target="_blank"
        >
          <strong>Pro-Investor</strong>
        </a>

        <!-- Collapse -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Left -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#isection"
                >About Pro-Investor</a
              >
            </li>
           
                <li class="nav-item">
                  <a
                    href="https://github.com/clairyitinggu/Pro-Investor"
                    class="nav-link border border-light rounded"
                    target="_blank"
                  >
                    <i class="fab fa-github mr-2"></i>GitHub
                  </a>
                </li>
              
          </ul>

          <!-- Right -->
          <ul class="navbar-nav nav-flex-icons">
              <li class="nav-item">
                <a
                  href="/display_login"
                  class="nav-link border border-light rounded"
                  target="_blank"
                >
                  <i class="fab  mr-2"></i>Login
                </a>
                <p><%= response %></p>
              </li>
            </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->

    <!-- Full Page Intro -->
    <div
      class="view full-page-intro"
      style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg'); background-repeat: no-repeat; background-size: cover;"
    >
      <!-- Mask & flexbox options-->
      <div
        class="mask rgba-black-light d-flex justify-content-center align-items-center"
      >
        <!-- Content -->
        <div class="container">
          <!--Grid row-->
          <div class="row wow fadeIn">
            <!--Grid column-->
            <div class="col-md-6 mb-4 white-text text-center text-md-left">
              <h1 class="display-4 font-weight-bold">
                How to manage your finance
              </h1>

              <hr class="hr-light" />

              <p>
                <strong>Get your first-hand infomation</strong>
              </p>

              <p class="mb-4 d-none d-md-block">
                <strong
                  ></strong
                >
              </p>

              <a href="#tsection" class="btn btn-indigo btn-lg"
                >Pro-Investor tutorial
                <i class="fas fa-graduation-cap ml-2"></i>
              </a>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 col-xl-5 mb-4">
              <!--Card-->
              <div class="card">
                <!--Card content-->
                <div class="card-body">
                  <!-- Form -->
                  <form action="/signup" method="post">
                    <!-- Heading -->
                    <h3 class="dark-grey-text text-center">
                        
                      <strong>Sign Up</strong>
                    </h3>
                    <hr />

                    <div class="md-form">
                      <i class="fas fa-user prefix grey-text"></i>
                      <input type="email" id="form3" class="form-control" name="email" required/>
                      <label for="email">Email/username</label>
                    </div>
                    <div class="md-form">
                      <i class="fas fa-unlock prefix grey-text"></i>
                      <input type="password" id="form2" class="form-control"  name="password" required/>
                      <label for="password">Password</label>
                    </div>
                    <div class="md-form">
                      <i class="fas fa-lock prefix grey-text"></i>
                      <input type="password" id="form2" class="form-control" name="confirm_password" required/>
                      <label for="confirm_password">Confirm Password</label>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-indigo">Register</button>
                      <hr />
                      <div>Already have an account?<a href="#"> Login</a></div>
                    </div>
                  </form>
                  <!-- Form -->
                </div>
              </div>
              <!--/.Card-->
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->

    <!--Main layout-->
    <main>
      <div class="container">
        <!--Section: Main info-->

        <!--Section: Main features & Quick Start-->
        <br />
        <section id = "isection">
          <h3 class="h3 text-center mb-5">About Pro-Investor</h3>

          <!--Grid row-->
          <div class="row wow fadeIn">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 px-4">
              <!--First row-->
              <div class="row">
                <div class="col-1 mr-3">
                  <i class="fas fa-lightbulb fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                  <h5 class="feature-title">put fullfill requirement</h5>
                  <p class="grey-text">
                    #
                  </p>
                </div>
              </div>
              <!--/First row-->

              <div style="height:30px"></div>

              <!--Second row-->

              <!--/Second row-->

              <div style="height:30px"></div>

              <!--Third row-->

              <!--/Third row-->
            </div>
            <!--/Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-12">
              <p class="h5 text-center mb-4">
                we can put our video here
              </p>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe
                  class="embed-responsive-item"
                  #src="https://www.youtube.com/embed/cXTThxoywNQ"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
            <!--/Grid column-->
          </div>
          <!--/Grid row-->
        </section>
        <!--Section: Main features & Quick Start-->

        <hr class="my-5" />

        <!--Section: Not enough-->
        <section id = "tsection">
          <div>
            <h2 class="my-5 h3 text-center">Tutorial</h2>
          </div>

          <!--First row-->
          <div class="row features-small mb-5 mt-3 wow fadeIn">
            <!--First column-->
            <div class="col-md-4">
              <!--First row-->
              <div class="row">
                <div class="col-2">
                  <i class="fas fa-check-circle fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                  <h6 class="feature-title">
                    Step 1
                  </h6>
                  <p class="grey-text">
                    step1
                  </p>
                  <div style="height:15px"></div>
                </div>
              </div>
              <!--/First row-->

              <!--Second row-->
              <div class="row">
                <div class="col-2">
                  <i class="fas fa-check-circle fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                  <h6 class="feature-title">Step 2</h6>
                  <p class="grey-text">
                    Step 2
                  </p>
                  <div style="height:15px"></div>
                </div>
              </div>
              <!--/Second row-->

              <!--Third row-->
              <div class="row">
                <div class="col-2">
                  <i class="fas fa-check-circle fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                  <h6 class="feature-title">Step 3</h6>
                  <p class="grey-text">
                    Step 3
                  </p>
                  <div style="height:15px"></div>
                </div>
              </div>
              <!--/Third row-->

              <!--Fourth row-->
              <div class="row">
                <div class="col-2">
                  <i class="fas fa-check-circle fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                  <h6 class="feature-title">Step 4</h6>
                  <p class="grey-text">
                    Step 4
                  </p>
                  <div style="height:15px"></div>
                </div>
              </div>
              <!--/Fourth row-->
            </div>
            
            </div>
            <!--/Third column-->
          </div>
          <!--/First row-->
        </section>
        <!--Section: Not enough-->

       

        
      </div>
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer class="page-footer text-center font-small mt-4 wow fadeIn">
      <!--Call to action-->
      <div class="pt-4">
        
      </div>
      <!--/.Call to action-->

      <hr class="my-4" />

      <!-- Social icons -->
        <a
          href="https://github.com/mdbootstrap/bootstrap-material-design"
          target="_blank"
        >
          <i class="fab fa-github mr-2"></i>
        </a>

      </div>
      <!-- Social icons -->

      <!--Copyright-->
      <div class="footer-copyright py-3">
        © 2019 Copyright:
        <a href="https://github.com/clairyitinggu/Pro-Investor" target="_blank">
          Pro-Investor
        </a>
      </div>
      <!--/.Copyright-->
    </footer>
    <!--/.Footer-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
      // Animations initialization
      new WOW().init();
    </script>
  </body>
</html>
