<!DOCTYPE html>
<html class = "no-js">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Pro Investor</title>
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
       href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous"/>
    
    <!-- Bootstrap core CSS -->
    <link href="../stylesheet/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="../stylesheet/css/mdb.min.css" rel="stylesheet" />
    <!-- Your custom styles (optional) -->
    <link href="../stylesheet/css/style.min.css" rel="stylesheet" />
    <style type="text/css">
      html,
      body,
      header,
      .view {
        height: 100%;
      }
      @media (max-width: 740px) {
        html,
        body,
        header,
        .view {
          height: 1000px;
        }
      }
      @media (min-width: 800px) and (max-width: 850px) {
        html,
        body,
        header,
        .view {
          height: 650px;
        }
      }
      @media (min-width: 800px) and (max-width: 850px) {
        .navbar:not(.top-nav-collapse) {
          background: #1c2331 !important;
        }
      }
    </style>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
      <div class="container">
        <!-- Brand -->
        <a
          class="navbar-brand"
          href="#"
          target="_blank"
        >
          <strong>Pro-Investor</strong>
        </a>

        <!-- Collapse -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Left -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#isection"
                >About Pro-Investor</a
              >
            </li>
           
                <li class="nav-item">
                  <a
                    href="https://github.com/clairyitinggu/Pro-Investor"
                    class="nav-link border border-light rounded"
                    target="_blank"
                  >
                    <i class="fab fa-github mr-2"></i>GitHub
                  </a>
                </li>
              
          </ul>

          <!-- Right -->
          <ul class="navbar-nav nav-flex-icons">
              <li class="nav-item">
                <a
                  href="/display_login"
                  class="nav-link border border-light rounded"
                  target="_blank"
                >
                  <i class="fab  mr-2"></i>Login
                </a>
              </li>
            </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->

    <!-- Full Page Intro -->
    <div
      class="view full-page-intro"
      style="background-image: url('https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1902&q=80'); background-repeat: no-repeat; background-size: cover;"
    >
      <!-- Mask & flexbox options-->
      <div
        class="mask rgba-black-light d-flex justify-content-center align-items-center"
      >
        <!-- Content -->
        <div class="container">
          <!--Grid row-->
          <div class="row wow fadeIn">
            <!--Grid column-->
            <div class="col-md-6 mb-4 white-text text-center text-md-left">
              <h1 class="display-4 font-weight-bold">
                How to manage your finance
              </h1>

              <hr class="hr-light" />

              <p>
                <strong>Get your first-hand infomation</strong>
              </p>

              <p class="mb-4 d-none d-md-block">
                <strong
                  ></strong
                >
              </p>

              <a href="#tsection" class="btn btn-indigo btn-lg"
                >Pro-Investor tutorial
                <i class="fas fa-graduation-cap ml-2"></i>
              </a>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 col-xl-5 mb-4">
              <!--Card-->
              <div class="card">
                <!--Card content-->
                <div class="card-body">
                  <!-- Form -->
                  <form id = "zzz" method="post" action = "/signup" >
                    <!-- Heading -->
                    <h3 class="dark-grey-text text-center">
                        
                      <strong>Sign Up</strong>
                    </h3>
                    <hr />

                    <div class="md-form">
                      <i class="fas fa-user prefix grey-text"></i>
                      <input type="email" id="form4" class="form-control" name="email" required/>
                      <label for="email" class="active">Email/username</label>
                      <div class="text-center">
                      <button type='submit' id="btr" class="btn btn-indigo text-center">Send Vcode</button>
                      </div>
                    </div>

                    <div class="md-form">
                      <i class="fas fa-keyboard prefix grey-text"></i>
                      <input type="password" id="form3" class="form-control" name="code" required/>
                      <label for="code" class="active">Please enter you Vcode</label>
                   </div>
                   
                    <div class="md-form">
                      <i class="fas fa-unlock prefix grey-text"></i>
                      <input type="password" id="form2" class="form-control"  name="password" required/>
                      <label for="password" class="active" >Password</label>
                    </div>
                    <div class="md-form">
                      <i class="fas fa-lock prefix grey-text"></i>
                      <input type="password" id="form1" class="form-control" name="confirm_password" required/>
                      <label for="confirm_password" class="active">Confirm Password</label>
                    </div>

                    <div class="text-center">
					   
                      <button type="submit" id = "btr1" class="btn btn-indigo">Register</button>
                      <hr />
                      <p><%= response %></p>
                      <div>Already have an account?<a href="/display_login"> Login</a></div>
                    </div>
                  </form>
                  <!-- Form -->
                </div>
              </div>
              <!--/.Card-->
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->

    <!--Main layout-->
    <main>
      <div class="container">
        <!--Section: Main info-->

        <!--Section: Main features & Quick Start-->
        <br />
        <section id = "isection">
          <h3 class="h3 text-center mb-5">About Pro-Investor</h3>


<!-- HTML,CSS,Javascript






 -->

          <!--Grid row-->
          <div class="row wow fadeIn">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 px-4">
              <!--First row-->
              <div class="row">
                <div class="col-1 mr-3">
                  <i class="fas fa-lightbulb fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                    <h3 >
                        The technology we used
                    </h3>
                    
                  <h4 class="feature-title">HTML,CSS,Javascript</h5>
                  <h4 class="feature-title">MySQL</h4>
                  <h4 class="feature-title">Node.js</h4>
                  <h4 class="feature-title">MDBootstrap</h4>
                  <h4 class="feature-title">Ajax</h4>
                  <h4 class="feature-title">Websockets</h4>
                  <h4 class="feature-title">Authentication</h4>
                  <h4 class="feature-title">Password Hashing</h4>

                  
                </div>
              </div>
              <!--/First row-->

              <div style="height:30px"></div>

              <!--Second row-->

              <!--/Second row-->

              <div style="height:30px"></div>

              <!--Third row-->

              <!--/Third row-->
            </div>
            <!--/Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-12">
              <p class="h5 text-center mb-4">
                we will put our video here
              </p>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe
                  class="embed-responsive-item"
                  #src="https://www.youtube.com/embed/cXTThxoywNQ"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
            <!--/Grid column-->
          </div>
          <!--/Grid row-->
        </section>
        <!--Section: Main features & Quick Start-->

        <hr class="my-5" />

        <!--Section: Not enough-->
        <section id = "tsection">
          <div>
            <h2 class="my-5 h3 text-center">Tutorial</h2>
          </div>

<!--First row-->
<div class="row features-small mb-5 mt-3 wow fadeIn">
    <!--First column-->
    <div >
      <!--First row-->
      <div class="row">
        <div >
          <i class="fas fa-check-circle fa-2x indigo-text"></i>
        </div>
        <div >
          <h4 class="feature-title">
              &nbsp;&nbsp;Signup with Email verification(Password is hashed)
          </h4>
         
          <a href="https://gyazo.com/bacc3c54062382bce70316e7e7b37a95"><img src="https://i.gyazo.com/bacc3c54062382bce70316e7e7b37a95.gif" alt="Image from Gyazo" width="438"/></a>
          <a href="https://gyazo.com/7a2dd042a88761d4848f69e4d57e176d"><img src="https://i.gyazo.com/7a2dd042a88761d4848f69e4d57e176d.png" alt="Image from Gyazo" width="469"/></a>
          <a href="https://gyazo.com/30c47235c68a51d2b91ea4707c06f22d"><img src="https://i.gyazo.com/30c47235c68a51d2b91ea4707c06f22d.gif" alt="Image from Gyazo" width="434"/></a><br/>
          
        </div>
        
      </div>
      <!--/First row-->

          <!--Second row-->
          <div class="row features-small mb-5 mt-3 wow fadeIn">
            <!--First column-->
            <div >
              <!--First row-->
              <div class="row">
                <div >
                  <i class="fas fa-check-circle fa-2x indigo-text"></i>
                </div>
                
                <div >
                   
                  <h4 >&nbsp;&nbsp;Autocomplete search and add stock 
                  </h4>
                 
                  <a href="https://gyazo.com/02fe9a335d4cb7272933c79855c17246"><img src="https://i.gyazo.com/02fe9a335d4cb7272933c79855c17246.gif" alt="Image from Gyazo" width="1000"/></a>
                  
                </div>
              </div>
              <!--/Second row-->

              <!--Third row-->
              <div class="row">
                <div >
                  <i class="fas fa-check-circle fa-2x indigo-text"></i>
                </div>
                <div >
                  <h4 class="feature-title">&nbsp;&nbsp;Delete stock</h4>

                  <a href="https://gyazo.com/731d8c3f63992eeb29a5e654a51a9dac"><img src="https://i.gyazo.com/731d8c3f63992eeb29a5e654a51a9dac.gif" alt="Image from Gyazo" width="1000"/></a>
                  <div style="height:5px"></div>
                </div>
              </div>
              <!--/Third row-->

              

              
            </div>
            
            </div>
            <!--/Third column-->
          </div>
          <!--/First row-->
        </section>
        <!--Section: Not enough-->

       

        
      </div>
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer class="page-footer text-center font-small mt-4 wow fadeIn">
      <!--Call to action-->
      <div class="pt-4">
        
      </div>
      <!--/.Call to action-->

      <hr class="my-4" />

      <!-- Social icons -->
        <a
          href="https://github.com/mdbootstrap/bootstrap-material-design"
          target="_blank"
        >
          <i class="fab fa-github mr-2"></i>
        </a>

      </div>
      <!-- Social icons -->

      <!--Copyright-->
      <div class="footer-copyright py-3">
        © 2019 Copyright:
        <a href="https://github.com/clairyitinggu/Pro-Investor" target="_blank">
          Pro-Investor
        </a>
      </div>
      <!--/.Copyright-->
    </footer>
    <!--/.Footer-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
      // Animations initialization
      new WOW().init();
    </script>
    
    <script>
        function abc() {
          var time = 60;
    
          var mytime = setInterval(function () {
            subs();
          },1000)
     
                    
          function subs(){
            time--;
            document.getElementById("btr").textContent = time+"s";
                   
            if(time===0){
              clearInterval(mytime);
              document.getElementById("btr").textContent = "Send vcode";
              document.getElementById("btr").disabled = false;
            } else{
              document.getElementById("btr").disabled = true;
              }
          }
         }
    
        document.getElementById("btr").addEventListener("click",function(event){
          document.getElementById("form3").required = false;
          document.getElementById("form2").required = false;
          document.getElementById("form1").required = false;
          var frm = $('#zzz');
          frm.submit(function (event) {
            if (!$('form').hasClass('validated')){
            abc();
            event.preventDefault();
            event.stopImmediatePropagation();
            $.ajax({
                type: 'post',
                url: '/svcode',
                data: frm.serialize(),
                async: false,
                success: function (data) {
                  if(data.success == 'false') {
                    alert('Your username/password are incorrect');
                    } 
                  else {
                    $('form').addClass('validated');
                    }
                },
            });
            return false;
          }
           });
         });
    
        document.getElementById("btr1").addEventListener("onclick",function(event){
          document.getElementById("form3").required = true;
          document.getElementById("form2").required = true;
          document.getElementById("form1").required = true;
          
          var myform = document.getElementById("zzz");
          document.getElementById("zzz").action = "/signup";
          myform.submit();
        });
    
        </script>


  </body>
</html>
